@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background-color: #0e3c6e;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb :hover {
  background-color: #555;
}

* {
  margin: 0;
  padding: 0;
  user-select: none;
  box-sizing: border-box;
}
body {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow-x: hidden;
  color: #3d3d3d;
  background-color: #f7b500;
  font-family: "Poppins", sans-serif;
}
.heading {
  color: #0e3c6e;
  font-size: 25px;
  font-weight: 400;
  text-transform: capitalize;
  margin-bottom: 30px;
  text-shadow: -2px 5px 4px #777777;
}
.wrapper {
  width: 400px;
  min-height: 500px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}
.wrapper p {
  margin-top: 5px;
  font-size: 15px;
  text-transform: capitalize;
  color: #a8a8a8;
  text-align: center;
}
.wrapper #rate {
  font-size: 35px;
  color: #3d3d3d;
  margin-bottom: 30px;
  word-wrap: break-word;
}
.wrapper label {
  font-size: 12px;
  text-transform: capitalize;
  color: #a8a8a8;
  margin-bottom: 3px;
}
.wrapper input {
  font-size: 25px;
  padding: 5px 10px;
  outline: none;
  border-radius: 3px;
  border: 1px solid #a8a8a8;
}
.wrapper input:focus {
  border-color: #0e3c6e;
}
.wrapper .fromto {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}
.fromto img {
  width: 20px;
}
.fromto .select {
  height: 40px;
  font-size: 12px;
  font-weight: 600;
  padding: 0 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  cursor: pointer;
  position: relative;
  border-radius: 3px;
  border: 1px solid #a8a8a8;
}
.fromto .select:hover,
.fromto .select.active {
  border-color: #0e3c6e;
}
.fromto .select i {
  margin-left: 10px;
  transition: all 0.3s ease;
}
.fromto .select.active i {
  transform: rotate(180deg);
}
.fromto .select.active ul {
  max-height: 200px;
  opacity: 1;
}
/* we will use js to show options on click */
.fromto .select ul {
  position: absolute;
  top: 40px;
  width: 100%;
  max-height: 0;
  opacity: 0;
  overflow-y: auto;
  background-color: #fff;
  border-radius: 3px;
  transition: all 0.3s;
  border: 1px solid #a8a8a8;
}
.fromto .select ul li {
  list-style: none;
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 5px;
  border-bottom: 1px solid #e9e9e9;
  text-transform: capitalize;
  transition: background 0.3s;
}
.fromto .select ul li:hover {
  background-color: #e9e9e9;
}
.fromto .select ul li.active {
  color: #fff;
  background-color: #0e3c6e;
}
.fromto #convert-icon {
  font-size: 20px;
  margin-top: 30px;
  cursor: pointer;
}
.fromto #convert-icon:hover {
  color: #0e3c6e;
}
.convert-btn {
  margin-top: 60px;
  font-size: 15px;
  font-weight: 600;
  padding: 15px;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 3px;
  transition: background 0.3s;
  text-transform: uppercase;
  background-color: #0e3c6e;
}
.convert-btn:hover {
  background-color: #0350a3;
}
.convert-btn:disabled {
  background-color: #a8a8a8;
  cursor: not-allowed;
}


img {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    width: 200px;
}

.p , .a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    color: #0e3c6e;
    text-decoration: none;
}

.p, .a:hover {
    color: #636262;
}